
<div class="col-sm-9">
  <div class="content" role="main">

    <!-- //Para: autor obra -->
    <div id="ficha-info-general">
      <h2>Perfil - Información general</h2>
      <div class="clearfix"></div>

      <div class="col-xs-12 col-sm-8" id="datos-personales">
        <h3>Datos personales</h3>

        <p><b>Nombre:</b> variable para el nombre</p>
        <p><b>Año de nacimiento:</b> variable para el año</p>
        <p><b>Lugar de nacimiento:</b> variable para el lugar</p>
        <p><b>Año de defunción:</b> variable para defunción</p>
        <p><b>Facultad / depatamento:</b> variable para el departamento / facultad</p>
        <p><b>Cargos o roles:</b> variable para el cargo/rol</p>
        <p><b>ISNI:</b> variable para el ISNI</p>
        <p><b>Variantes de nombre:</b> variable para variantes</p>
      </div>

      <div class="col-xs-12 col-sm-4" id="info-complementaria">

        <!-- //actividad universitaria reciente para: autor -->
        <div id="actividad-universitaria-reciente">
          <h3>Actividad universitaria reciente</h3>
          <ul>
            <li>Profesor ayudante en <br>
            <strong>Departamento de ingeniería civil</strong></li>
            <li>Profesor titular en <br>
            <strong>Departamento de ingeniería civil</strong></li>
          </ul>
        </div>

        <!-- //mapa para: institución -->
        <div id="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60880.52987406992!2d-69.41841696284179!3d-17.505932485441242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1435069781090" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <!-- //resumen	Para:	obra (escrita) -->
        <div id="resumen">
          <h3>Resumen</h3>
          <p>Párrafo de resumen</p>
        </div>
        <!-- //imagen Para: obra (pintura, cuadro) -->
        <div id="imagen">
          <h3>Imagen</h3>
          <img style="-webkit-user-select: none" src="http://www.museomedicina.cl/dspace/bitstream/handle/123456789/614/MD0000008.jpg.jpg?sequence=4">
        </div>
      </div>

    </div>

    <div class="clearfix"></div>

    <!-- //Versiones digitales de la obra -->
    <div id="ficha-versiones-digitales">

      <h2>Versiones digitales de la obra</h2>
      <a href="#" id="a-cantidad-versiones-ediciones">Todas (3)</a>

      <div class="clearfix"></div>

      <div class="col-md-12 versiones-ediciones">
        <div class="col-xs-12 col-md-9">
          <p><strong>Título:</strong> (título de la publicación)</p>
          <p><strong>Año de publicación:</strong> (año)</p>
          <p><strong>Formato:</strong> (formato)</p>
          <p><strong>Idioma:</strong> (idioma)</p>
          <p><strong>Identificador:</strong> (identificador)</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <a href="#" id="a-catalogo">Ver en catálogo</a>
          <a href="#" id="a-descargar">Descargar</a>
        </div>
      </div>
      <div class="clearfix"></div>

      <a href="#" class="a-lista-completa">Lista completa</a>

    </div>

    <div class="clearfix"></div>


    <div id="ficha-versiones-digitales">
      <h2>Ediciones disponibles</h2>
      <a href="#" id="a-cantidad-versiones-ediciones">Todas (3)</a>

      <div class="clearfix"></div>

      <div class="col-md-12 versiones-ediciones">
        <div class="col-xs-12 col-md-9">
          <p><strong>Título:</strong> (título de la publicación)</p>
          <p><strong>Año de publicación:</strong> (año)</p>
          <p><strong>Formato:</strong> (formato)</p>
          <p><strong>Idioma:</strong> (idioma)</p>
          <p><strong>Identificador:</strong> (identificador)</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <a href="#" id="a-catalogo">Ver en catálogo</a>
          <a href="#" id="a-descargar">Descargar</a>
        </div>
      </div>
      <div class="clearfix"></div>

      <a href="#" class="a-lista-completa">Lista completa</a>

    </div>

    <div class="clearfix"></div>

    <!-- //Obras relacionadas  para obra-->
    <div id="ficha-obras-relacionadas">
      <h2>Obras relacionadas</h2>
      <div class="clearfix"></div>

      <div id="obras-de-la-misma-coleccion">                   
        <h3>Obras de la misma colección</h3>
        <!-- //loop item -->
        <div class="col-xs-6 col-1-5" id="variable-titulo-para-coincidir-con-background"><!-- //variable-titulo-para-coincidir-con-background: reemplazar con php -->
          <span class="">Categoría X</span><!-- //colocar en class el término de la categoría. Span repetible según número de categorías asociadas -->
          <span class="titulo-obra">Título de la obra</span>
          <span class="ediciones-obra">X ediciones</span>
        </div>
        <!-- //fin loop -->    
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div id="obras-del-mismo-autor">                   
        <h3>Obras del mismo autor</h3>
        <div class="col-xs-6 col-1-5" id="variable-titulo-para-coincidir-con-background">
          <span class="">Categoría X</span>
          <span class="titulo-obra">Título de la obra</span>
          <span class="ediciones-obra">X ediciones</span>
        </div>
        <div class="clearfix"></div>
      </div>


      <div class="clearfix"></div>

      <div class="autores col-xs-6 col-sm-4" id="tesis-publicadas">
        <h3>[Tesis] publicadas el mismo año</h3>
        <ul>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
        </ul>
        <a href="#" class="ver-mas">Más</a>
      </div>

      <div class="autores col-xs-6 col-sm-4" id="obras-mismo-tema">
        <h3>Obras sobre el mismo tema</h3>
        <ul>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
        </ul>
        <a href="#" class="ver-mas">Más</a>
      </div>

      <div class="autores col-xs-6 col-sm-4" id="imagenes-mismo-ano">
        <h3>[Imágenes] publicadas el mismo año</h3>
        <ul>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
        </ul>
        <a href="#" class="ver-mas">Más</a>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div id="ficha-obras-en-la-universidad">
      <h2>Obras en la Universidad de Chile</h2>
      <div id="filtro">
        <ul>
          <li><a href="#">Categoría 1</a></li>
          <li><a href="#">Categoría 2</a></li>
          <li><a href="#">Categoría 3</a></li>
        </ul>

        <div class="clearfix"></div>


        <div id="filtrado">
          <div class="col-xs-6 col-1-5" id="variable-titulo-para-coincidir-con-background">
            <span class="">Categoría X</span>
            <span class="titulo-obra">Título de la obra</span>
            <span class="ediciones-obra">X ediciones</span>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-6 col-sm-4" id="obras-por-rol">
        <h3>Obras por rol</h3>
        <ul>
          <li><a href="#">Autor</a></li>
          <li><a href="#">Co-autor</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4" id="pc-obras-por-rol"> 
        <h3>% obras por rol</h3>
        <!-- //gráfico -->
      </div>

      <div class="col-xs-6 col-sm-4" id="pc-obras-por-rol"> 
        <h3>Obras por idioma</h3>
        <ul>
          <li><a href="#">Autor</a></li>
          <li><a href="#">Co-autor</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4" id="pc-obras-por-rol"> 
        <h3>Actividad por década</h3>
        <ul>
          <li><a href="#">Autor</a></li>
          <li><a href="#">Co-autor</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-8" id="obras-publicadas-por-año">
        <h3>Obras publicadas por año</h3>
        <!-- //línea de tiempo -->
      </div>

    </div>

    <div class="clearfix"></div>

    <div id="autores-relacionados">
      <h2>Autores relacionados</h2>
      <div class="clearfix"></div>

      <div class="autores col-xs-6 col-sm-4" id="principales-colaboradores">
        <h3>Principales colaboradores</h3>
        <ul>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
        </ul>
        <a href="#" class="ver-mas">Todas</a>
      </div>

      <div class="autores col-xs-6 col-sm-4" id="autores-contemporaneos">
        <h3>Autores contemporáneos</h3>
        <ul>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
        </ul>
        <a href="#" class="ver-mas">Todas</a>
      </div>

      <div class="autores col-xs-6 col-sm-4" id="nacidos-en-el-mismo-lugar">
        <h3>Nacidos en el mismo lugar</h3>
        <ul>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
        </ul>
        <a href="#" class="ver-mas">Todas</a>
      </div>

      <div class="autores col-xs-6 col-sm-4" id="autores-de-la-misma-facultad">
        <h3>Autores de la misma facultad o departamento</h3>
        <ul>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
          <li>Cassels Niven, Bruce (1932 - )</li>
        </ul>
        <a href="#" class="ver-mas">Todas</a>
      </div>
    </div> 
  </div>
</div>


<div class="col-sm-3 c-blanco" id="menu-lateral"> 
  <div class="affix bg-magenta">
    <h2 class="text-uppercase">Ir a</h2>
    <nav class="anchorific"><!-- //js carga automáticamente los h1, h2, h3, h4, h5, h6 desde el div de la izquierda para formar el menú, si no existe no aparecerá --></nav>
    <div id="fuentes-de-referencia">
      <div class="col-xs-12 col-md-6" id="ref-u-chile">
        <h4>U. de Chile</h4>
        <ul>
          <li><a href="#">Catálogo institucional</a></li>
          <li><a href="#">Biblioteca digital</a></li>
          <li><a href="#">Repositorio académico</a></li>
          <li><a href="#">Portal de Revistas</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6" id="ref-externas">
        <h4>Externas</h4>
        <ul>
          <li><a href="#">Catálogo institucional</a></li>
          <li><a href="#">Biblioteca digital</a></li>
          <li><a href="#">Repositorio académico</a></li>
          <li><a href="#">Portal de Revistas</a></li>
        </ul>
      </div>                    
    </div>
    <div id="descargar-datos">
      <div class="col-xs-12">
        <h4>Descargar datos</h4>
        <ul>
          <li><a href="#">Catálogo institucional</a></li>
          <li><a href="#">Biblioteca digital</a></li>
          <li><a href="#">Repositorio académico</a></li>
          <li><a href="#">Portal de Revistas</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">//<![CDATA[ 
$(window).load(function(){
    $(document).ready(function(){
      //$('h2').append('<a href="#top" class="gototop">Subir</a>');
      linkInterno = $('a[href^="#"]');
      linkInterno.on('click',function(e) {
        e.preventDefault();
        var href = $(this).attr('href');
        $('html, body').animate({ scrollTop : $( href ).offset().top }, 'slow', 'easeInOutExpo');
        });
      });

    });//]]>  
</script>

<!-- //easing -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="d/js/anchorific/anchorific.min.js"></script>
<script>$('.content').anchorific();</script>
<link rel="stylesheet" type="text/css" href="d/css/style-anchorific.css">
